- categories.each do |category|
  .tab-pane.active{id: category.name}
    - if category.songs.present?
      %ul.songs-list{ :"data-update-url" => sort_songs_url}
        - category.songs.order("position").each do |song|
          = content_tag_for :li, song do
            .alert{ class: "#{song.color_class.present? ? song.color_class : "alert-white"}" }
              %button.close{"title" => "#{song.id}", "data-dismiss" => "alert", :type => "button", :id => 'close-and-delete'}×
              %i.icon-time
              = song.content
              .btn-group.right
                .dropdown{"data-toggle" => "dropdown"}
                  %span.caret
                %ul.dropdown-menu
                  /%li.divider
                  %li.dropdown-submenu
                    %a{:href => "#", :tabindex => "-1"} Color
                    %ul.dropdown-menu
                      %li
                        = link_to "Green", "#", class: 'js-assign-color', :"data-color" => 'alert-success', :"data-id" => song.id
                      %li
                        = link_to "Blue", "#", class: 'js-assign-color', :"data-color" => 'alert-info', :"data-id" => song.id
                      %li
                        = link_to "Yellow", "#", class: 'js-assign-color', :"data-color" => 'alert-block', :"data-id" => song.id
                      %li
                        = link_to "Red", "#", class: 'js-assign-color', :"data-color" => 'alert-error', :"data-id" => song.id
                      %li
                        = link_to "None", "#", class: 'js-assign-color', :"data-color" => 'alert-white', :"data-id" => song.id
                  %li.divider
                  %li
                    - if song.is_deletable?
                      = link_to "Non-deletable", "#", class: 'js-non-deletable', :"data-value" => 'false', :"data-id" => song.id
                    - else
                      = link_to "✓ Non-deletable", "#", class: 'js-non-deletable', :"data-value" => 'true', :"data-id" => song.id
                  %li
                    - if song.is_hidden?
                      = link_to "✓ Hidden", "#", class: 'js-hidden', :"data-value" => 'false', :"data-id" => song.id
                    - else
                      = link_to "Hidden", "#", class: 'js-hidden', :"data-value" => 'true', :"data-id" => song.id
