= form_for @song, :html => { :class => 'form-horizontal form-navbar' } do |f|
  .control-group
    .controls
      .btn-group{"data-toggle" => "buttons-radio"}
        .btn.btn-primary.kind TODO
        .btn.btn-primary.kind.joint Joint
        .btn.btn-primary.kind Link
      = f.text_field :content, :class => 'text_field input-navbar', :placeholder => "Enter text here...", :id => "input-in-nav"
      = f.hidden_field :kind
      %span.toggled-checkbox Sample?
      = f.check_box :is_sample, :class => 'toggled-checkbox'
      = f.submit "Save", :class => 'btn btn-warning'
    =# link_to t('.cancel', :default => t("helpers.links.cancel")), songs_path, :class => 'btn'

