= form_for @song, :html => { :class => 'form-horizontal form-navbar' } do |f|
  .control-group
    .controls
      .btn-group{"data-toggle" => "buttons-radio"}
        - Category.all.each do |category|
          .btn.btn-primary.kind{title: category.id}= category.name
      = f.text_field :content, :class => 'text_field input-navbar', :placeholder => "Enter text here...", :id => "input-in-nav"
      = f.hidden_field :category_id
      /%span.toggled-checkbox Sample?
      /= f.check_box :is_sample, :class => 'toggled-checkbox'
      = f.submit "Save", :class => 'btn btn-warning'
    =# link_to t('.cancel', :default => t("helpers.links.cancel")), songs_path, :class => 'btn'

