- model_class = Song
%ul#tabs.nav.nav-pills{"data-tabs" => 'tabs'}
  - Category.all.each do |category|
    %li
      = link_to category.name, "##{category.name}", :data => { :toggle => 'tab'}

#my-tab-content.tab-content
  = render partial: 'content', locals: { categories: @categories }

- if false
  #my-tab-content.tab-content
    .tab-pane.active#todos
      - @todos.each do |song|
        .alert.alert-white
          %button.close{"title" => "#{song.id}", "data-dismiss" => "alert", :type => "button", :id => 'close-and-delete'}×
          %i.icon-time
          = song.content
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_song_path(song), :class => 'btn edit btn-mini right'
    .tab-pane.active#links
      - @links.each do |link|
        .alert.alert-white
          %button.close{"title" => "#{link.id}", "data-dismiss" => "alert", :type => "button", :id => 'close-and-delete'}×
          %i.icon-share-alt
          %strong= link.page_title
          = link_to link.content, url_with_protocol(link.content), :target => :_blank
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_song_path(link), :class => 'btn edit btn-mini right'
    .tab-pane.active#joints
      - @joints.each do |joint|
        .alert.alert-white
          %button.close{"title" => "#{joint.id}", "data-dismiss" => "alert", :type => "button", :id => 'close-and-delete'}×
          %i.icon-music
          = joint.content
          = link_to "Fav", "#", :class => 'btn edit btn-mini right'
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_song_path(joint), :class => 'btn edit btn-mini right'

=# link_to t('.new', :default => t("helpers.links.new")), new_song_path, :class => 'btn btn-primary'

=# render :partial => 'form'
