- model_class = Song
%ul#tabs.nav.nav-pills{"data-tabs" => 'tabs'}
  - if false
    %li.active
      = link_to "All", "#all", :data => { :toggle => 'tab'}
  %li
    = link_to "TODO", "#todos", :data => { :toggle => 'tab'}
  %li
    = link_to "Links", "#links", :data => { :toggle => 'tab'}
  %li
    = link_to "Joints", "#joints", :data => { :toggle => 'tab'}


#my-tab-content.tab-content
  - if false
    .tab-pane.active#all
      %table.table.table-striped
        %thead
          %tr
            %th= model_class.human_attribute_name(:content)
            %th= model_class.human_attribute_name(:kind)
            %th=t '.actions', :default => t("helpers.actions")
        %tbody
          - @songs.each do |song|
            %tr
              %td= song.content
              %td= song.kind
              %td
                = link_to t('.edit', :default => t("helpers.links.edit")), edit_song_path(song), :class => 'btn btn-mini'
                = link_to t('.destroy', :default => t("helpers.links.destroy")), song_path(song), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
  .tab-pane.active#todos
    - @todos.each do |song|
      .alert.alert-white
        %button.close{"title" => "#{song.id}", "data-dismiss" => "alert", :type => "button", :id => 'close-and-delete'}×
        %i.icon-time
        = song.content
        = link_to t('.edit', :default => t("helpers.links.edit")), edit_song_path(song), :class => 'btn edit btn-mini right'

  - if false  
    %table.table.table-striped
      %thead
        %tr
          %th= model_class.human_attribute_name(:content)
          %th=t '.actions', :default => t("helpers.actions")
      %tbody
        - @todos.each do |song|
          %tr
            %td= song.content
            %td
              = link_to t('.edit', :default => t("helpers.links.edit")), edit_song_path(song), :class => 'btn btn-mini'
              = link_to t('.destroy', :default => t("helpers.links.destroy")), song_path(song), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
  .tab-pane.active#links
    - @links.each do |link|
      .alert.alert-white
        %button.close{"title" => "#{link.id}", "data-dismiss" => "alert", :type => "button", :id => 'close-and-delete'}×
        %i.icon-share-alt
        = link_to link.content, url_with_protocol(link.content), :target => :_blank
        = link_to t('.edit', :default => t("helpers.links.edit")), edit_song_path(link), :class => 'btn edit btn-mini right'
    - if false 
      %table.table.table-striped
        %thead
          %tr
            %th= model_class.human_attribute_name(:content)
            %th=t '.actions', :default => t("helpers.actions")
        %tbody
          - @links.each do |song|
            %tr
              %td= song.content
              %td
                = link_to t('.edit', :default => t("helpers.links.edit")), edit_song_path(song), :class => 'btn btn-mini'
                = link_to t('.destroy', :default => t("helpers.links.destroy")), song_path(song), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
  .tab-pane.active#joints
    - @joints.each do |joint|
      .alert.alert-white
        %button.close{"title" => "#{joint.id}", "data-dismiss" => "alert", :type => "button", :id => 'close-and-delete'}×
        %i.icon-music
        = joint.content
        = link_to t('.edit', :default => t("helpers.links.edit")), edit_song_path(joint), :class => 'btn edit btn-mini right'

=# link_to t('.new', :default => t("helpers.links.new")), new_song_path, :class => 'btn btn-primary'

=# render :partial => 'form'
