<!DOCTYPE html>
<html>
<head>
  <title>StoreIt!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "StoreIt!", root_path, :class => 'brand' %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><%= link_to "Settings", new_category_path %> </li>
          <% if false %>
            <li><a href="#contact">Contact</a></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
      <%= render :partial => 'songs/form' unless controller.controller_name == "categories" %>
    </div>
  </div>
</div>

<div id="page-outer">
<div class="container wrapper">
  <%= yield %>
</div>
</div>
</body>
</html>
