<!DOCTYPE html>
<html>
<head>
  <title>Musicapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <%= link_to "Storeit!", root_path, :class => 'brand' %>
    <%= render :partial => 'songs/form' %>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
